# dependencies
node_modules

# build output
dist

# environment
.env
.env.local
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# System
.DS_Store
Thumbs.db

# misc
coverage
*.log
